* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: inter;
}

/* navigation bar designing */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 92px;
    width: 100%;
}

.logo {
    margin: 16px 120px;
    width: 139px;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.opt ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.opt ul li {
    margin: 34px 32px;
    font-size: 16;
    font-weight: 500;
}

.btn button {
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    background-color: #30B868;
    margin: 24px 120px;
    color: white;
    border-color: #30B868;
}

.btn button:hover {
    cursor: pointer;
    font-weight: 800;
    font-size: large;
}

/* banner design or 1st page */
.banner {
    width: 100%;
    height: 678px;
    background-image: url("/assets/hero-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mthrcont {
    margin: 115px 120px;
    height: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    height: 35px;
    border-radius: 1000px;
    font-size: 16;
    font-weight: 500;
    background-color: white;
    color: #30B868;
    text-align: center;
    padding: 8px 23px;
}

.box2 {
    margin-top: 16px;
    text-align: center;

}

.box2 h1 {
    font-size: 79px;
}

#dsn1 {
    color: white;
}

#dsn2 {
    color: #30B868;
}

.desc {
    color: white;
    font-size: 18;
}

.box3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.btn1,
.btn2 {
    width: 251px;
    height: 52px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 32px;
    padding: 16.5px;
    color: white;
}

.btn1 {
    background-color: #30B868;
}

.btn2 {
    background-color: transparent;
    border: 1px solid white;
}

.btn1:hover {
    cursor: pointer;
    font-weight: 800;
    font-size: large;
}

.btn2:hover {
    cursor: pointer;
    font-weight: 800;
    font-size: large;
}

/* note page or 2nd page  */
.pg2 {
    background-color: rgb(247, 247, 247);
}

.pg2hd {
    margin: 0px auto;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.pg2hd p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382
}

.cardcont {
    margin: 44px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}

.card {
    width: 320px;
    height: 316px;
    border-radius: 8px;
    padding: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 8px;

}

.cardpic {
    margin: 69.5px 131px 16px 131px;
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
}

.cardpic img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin: 15%;
}

.cardhd {
    text-transform: capitalize;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    height: 58px;
    margin-bottom: 16px;
}

.cardtxt {
    font-size: 16px;
    text-align: center;
}

/* brain section */


.pg3cont {
    margin: 0px auto;
    width: 90%;
    display: flex;
    flex-direction: row;

}

.sideimage {
    width: 550px;
    height: 550px;
}

.pg3dtls {
    padding: 100px;
}

.pg3box1 {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.pg3box2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    color: #001931;
    margin-bottom: 16px;
}

.pg3box3 {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.pg3box4 ul {
    margin-top: 40px;
    list-style-image: url("assets/CheckCircle.png");
}

.pg3box4 ul li {

    font-size: 16px;
    font-weight: 500;
    color: #001931;
}

/* early access section */

.pg4cont {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 90%;
    margin: 0px auto;
    background-color: rgb(247, 247, 247);
}

.pg4hd {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #001931;
}

.pg4hd p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.pg4dtls {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg4dtls button {
    width: 194px;
    height: 52px;
    border-radius: 4px;
    border-color: #30B868;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.pg4dtls button:hover {
    font-size: large;
    font-weight: bolder;
}

.pg4dtls p {
    font-size: 16;
    font-weight: 400;
    color: #627382;
}
/* footer design */
.ftr{
    background-color: #001931;
    height: 348px;
    color: white;
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footbx1{
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 64px;
}
.prt2{ 
    display: flex;
    flex-direction: column;
    align-items: end;
}
.upper{
    font-size: 20px;
    font-weight: 500;
}
.lower ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.cpyright{
    width: 100%;
    margin-top: 120px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
}
